@page
<!DOCTYPE html>
<html>
<head>
    <title>Servis Durumu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f5f5f5;
        }

        .card {
            box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
        }

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="card text-center">
        <img class="card-img-top" src="https://i2.milimaj.com/i/milliyet/75/0x410/62a8942c86b24423f83cadcc.jpg" alt="Pet image">
        <div class="card-body">
            <h5 class="card-title">Pet Servisi Durumu</h5>
            <p class="card-text">Servisimiz çalışıyor ve evcil hayvanlarınıza hizmet vermeye devam ediyor!</p>
            <a href="#" class="btn btn-primary">Servis Durumunu Kontrol Et</a>
        </div>
        <div class="card-footer text-muted">
            Son kontrol: 1 dakika önce
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
